* {
    // border: 1px red solid;
    color: black;
    font-weight: 900;
}

body {
    background-color: #2F4858;
}

main {
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border: 3px black solid;
}

#container-dealer {
    display: flex;
    border-bottom: 3px black solid;
    background-color: #35654d;
}

.container-hand {
    display: flex;
    width: 90%;
    justify-content: flex-start;
}

.hand-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: #684890;
    border-right: 3px black solid;
}

#container-middle {
    background-color: #344E7C;
}

#container-game-controls {
    height: 50px;
    max-width: 200px;
    margin: auto;
    display: flex;
}

.game-controls {
    width: 50%;
    background-color: #6564F8;
    border: 3px black solid;
    margin: 5px;
}

.game-controls:hover {
    background-color: #E51504;
}

.result-message {
    width: 100%;
    background-color: #6564F8;
    border: 3px black solid;
    margin: 5px;
}

.result-message:hover {
    background-color: #E51504;
}

#container-player {
    display: flex;
    border-top: 3px black solid;
    background-color: #35654d;
}

.container-card {
    display: flex;
    flex-direction: column;
    width: 18.85%;
    margin: 5px;
}

.card-text {
    text-align: center;
    margin-bottom: 5px;
    border: 3px black solid;
    background-color: #ebf4f9;
}