* {
    border: 1px red solid;
}

#container-dealer {
    display: flex;
}

.container-hand {
    display: flex;
}

.hand-value {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

#container-player {
    display: flex;
}

.container-card {
    display: flex;
    flex-direction: column;
}

.card-text {
    text-align: center;
}